@model ParsekPublicHealthNurseInformationSystem.ViewModels.VisitPlannerViewModel

@{
    ViewBag.Title = "Planer obiskov";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .VisitContainer {
        float: left !important;
        margin: 2px !important;
        width: 350px !important;
        height: 180px !important;
    }

    .MandatoryVisitContainer {
        float: left !important;
        margin: 2px !important;
        width: 350px !important;
        height: 160px !important;
    }
</style>


<h2>Planer obiskov</h2>

<p>Ustvarite plan za obiske. Dodajanje obiska v plan mu avtomatsko nastavi datum na datum plana.</p>




<hr />

<h3>Planirani obiski</h3>

@for (int j = 0; j < Model.VisitsDays; j++)
{

    string bId = "Visits_" + j;

    <div class="btn-group">
        <button onclick="return false;" class="btn btn-info form-control" data-toggle="collapse" data-target="#@bId">@DateTime.Now.Date.AddDays(j).ToString("dd. MM. yyyy")</button>
    </div>

    <br />

        <div id="@bId" class="collapse">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Vrsta obiska</th>
                        <th>Naslov pacienta</th>
                        <th>Okviren datum</th>
                        <th>Določen datum</th>
                        <th>Obvezen</th>
                        <th>Možnosti</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Visits[j].Count; i++)
                    {

                        <tr>

                            <td>@Model.Visits[j][i].WorkOrder.Name</td>
                            
                            @if (Model.Visits[j][i].WorkOrder.Patient != null)
                            {
                                <td>@Model.Visits[j][i].WorkOrder.Patient.Address</td>
                            }
                            

                            @if (Model.Visits[j][i].Mandatory == false)
                            {
                                if (Model.Visits[j][i].Done == false)
                                {
                                    <td>@Model.Visits[j][i].Date.ToString("dd. MM. yyyy")</td>
                                    <td>@Model.Visits[j][i].DateConfirmed.ToString("dd. MM. yyyy")</td>
                                    <td>NE</td>
                                    <td>@Html.ActionLink("Odstrani iz plana", "DisconfirmVisit", "VisitPlanner", routeValues: new { date = Model.Visits[j][i].Date, DisconfirmedVisitId = Model.Visits[j][i].VisitId }, htmlAttributes: null)</td>
                                }
                                else
                                {
                                    <td>@Model.Visits[j][i].Date.ToString("dd. MM. yyyy")</td>
                                    <td>@Model.Visits[j][i].DateConfirmed.ToString("dd. MM. yyyy")</td>
                                    <td>NE</td>
                                    <td><strong>Obisk je opravljen</strong></td>
                                }

                            }
                            else
                            {
                                if (Model.Visits[j][i].Done == false)
                                {
                                    <td>/</td>
                                    <td>@Model.Visits[j][i].Date.ToString("dd. MM. yyyy")</td>
                                    <td>DA</td>
                                    <td>Datum je fiksen</td>
                                }
                                else
                                {
                                    <td>/</td>
                                    <td>@Model.Visits[j][i].Date.ToString("dd. MM. yyyy")</td>
                                    <td>DA</td>
                                    <td><strong>Obisk je opravljen</strong></td>
                                }
                            }
                        </tr>




                    }

                </tbody>
            </table>


            <div class="btn-group">
            <button onclick="return false;" class="btn btn-default form-control" data-toggle="collapse" data-target="#material_@bId">Seznam materiala</button>
            </div>

            <br />

            <div id="material_@bId" class="collapse">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Število</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.Materials[j].Count; i++)
                        {

                            <tr>

                                <td>@Model.Materials[j][i].MaterialName</td>
                                <td>@Model.Materials[j][i].Count</td>
                            
                            </tr>




                        }

                    </tbody>
                </table>
           </div>

        </div>
        <div style="clear:both"></div>
        <hr />

}




<div style="clear:both"></div>

<hr />

<h3>Okvirni obiski</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Vrsta obiska</th>
            <th>Naslov pacienta</th>
            <th>Okviren datum</th>
            <th>Obvezen</th>
            <th>Možnosti</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.OptionalVisits.Count; i++)
        {


            <tr>
                <td>@Model.OptionalVisits[i].WorkOrder.Name</td>
                
                @if (Model.OptionalVisits[i].WorkOrder.Patient != null)
                {
                    <td>@Model.OptionalVisits[i].WorkOrder.Patient.Address</td>
                }
                
                
                <td>@Model.OptionalVisits[i].Date.ToString("dd. MM. yyyy")</td>
                <td>NE</td>
                <td data-target="#visitContainer_@i">
                    <a id="toggle_@i" style="cursor:pointer;" onclick="$('#toggle_@i').hide();$('#visitContainer_@i').show();">Dodaj v plan</a>
                    <span class="collapse" id="visitContainer_@i">

                        @using ((Html.BeginForm("ConfirmVisit", "VisitPlanner", FormMethod.Post)))
                        {

                            Model.HiddenVisitId = Model.OptionalVisits[i].VisitId;
                            @Html.EditorFor(e => e.PlanDate, new { htmlAttributes = new { @min = DateTime.Now.Date.AddDays(1).ToString("yyyy-MM-dd") } })
                            @Html.EditorFor(e => e.HiddenVisitId, new { htmlAttributes = new { @class = "hidden", @value = Model.OptionalVisits[i].VisitId } })
                            <span class="form-group">
                                <span class="">
                                    <input type="submit" value="Potrdi" class="btn btn-default" />
                                </span>
                            </span>
                        }

                    </span>
                </td>
            </tr>


        }

    </tbody>
</table>

<div style="clear:both"></div>



@if (Model.OverdueVisits.Count > 0)
{
    <hr />
    <h3 style="color:red;">Pozni obiski</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Vrsta obiska</th>
                                <th>Naslov pacienta</th>
                                <th>Okviren datum</th>
                                <th>Obvezen</th>
                                <th>Možnosti</th>
                            </tr>
                        </thead>
                        <tbody>


                            @for (int i = 0; i < Model.OverdueVisits.Count; i++)
                            {


                                <tr>
                                    <td>@Model.OverdueVisits[i].WorkOrder.Name</td>
                                    @if (@Model.OptionalVisits[i].WorkOrder.PatientWorkOrders.Count > 0)
                                    {
                                        <td>@Model.OptionalVisits[i].WorkOrder.PatientWorkOrders.First().Patient.Address</td>
                                    }
                                    else
                                    {
                                        if (Model.OptionalVisits[i].WorkOrder.Patient != null)
                                        {
                                            <td>@Model.OptionalVisits[i].WorkOrder.Patient.Address</td>
                                        }
                                    }
                                    <td>@Model.OverdueVisits[i].Date.ToString("dd. MM. yyyy")</td>
                                    <td>NE</td>
                                    <td data-target="#visitContainer_@i">
                                        <a id="overdueToggle_@i" style="cursor:pointer;" onclick="$('#overdueToggle_@i').hide();$('#overdueVisitContainer_@i').show();">Dodaj v plan</a>
                                        <span class="collapse" id="overdueVisitContainer_@i">

                                            @using ((Html.BeginForm("ConfirmVisit", "VisitPlanner", FormMethod.Post)))
                                            {

                                                Model.HiddenVisitId = Model.OverdueVisits[i].VisitId;
                                                @Html.EditorFor(e => e.PlanDate, new { htmlAttributes = new { @min = DateTime.Now.Date.AddDays(1).ToString("yyyy-MM-dd") } })
                                                @Html.EditorFor(e => e.HiddenVisitId, new { htmlAttributes = new { @class = "hidden", @value = Model.OverdueVisits[i].VisitId } })
                                                <span class="form-group">
                                                    <span class="">
                                                        <input type="submit" value="Potrdi" class="btn btn-default" />
                                                    </span>
                                                </span>
                                            }

                                        </span>
                                    </td>
                                </tr>


                            }
                        </tbody>
                    </table>
                    }
<div style="clear:both"></div>

