@model ParsekPublicHealthNurseInformationSystem.ViewModels.EditVisitInputViewModel

@{
    ViewBag.Title = "Urejanje vnosa obiska";
}

<h2>Urejanje vnosnih polj obiskov</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <hr/>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" id="DistrictDropdown">
            @Html.LabelFor(model => model.VisitTypesList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedVisitType, new SelectList(Model.VisitTypesList, "ServiceId", "ServiceTitle"), "-- Izberi --", htmlAttributes: new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>

        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Naziv vnosa</th>
                        <th>Število vnosov</th>
                        <th>Možnosti</th>
                    </tr>
                </thead>
            <tbody>

            @for (int i = 0; i < Model.ActivityInputList.Count; i++)
            {
             
                <tr>
                    <td>@Model.ActivityInputList.ElementAt(i).ActivityTitle</td>
                    <td>@Model.ActivityInputList.ElementAt(i).ActivityActivityInputs.Count</td>
                    <td>@Html.ActionLink("Izbriši", "DeleteInput", "EditVisitInput", new { visitInputId = Model.ActivityInputList.ElementAt(i).ActivityId, serviceId = Model.SelectedVisitType }, new { @class = "btn btn-danger", @style = "color:white" })</td>
                </tr>
            }
            </tbody>
        </table>

        <div class="btn-group">
            <button onclick="return false;" class="btn btn-info form-control " data-toggle="collapse" data-target="#OtherData">Ostalo</button>
        </div>

        <br />

        <div id="OtherData" class="collapse">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Naziv vnosa</th>
                        <th>Število vnosov</th>
                        <th>Možnosti</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.ActivityInputListNoNumber.Count; i++)
                    {

                        <tr>
                            <td>@Model.ActivityInputListNoNumber.ElementAt(i).ActivityTitle</td>
                            <td>@Model.ActivityInputListNoNumber.ElementAt(i).ActivityActivityInputs.Count</td>
                            <td>@Html.ActionLink("Izbriši", "DeleteInput", "EditVisitInput", new { visitInputId = Model.ActivityInputListNoNumber.ElementAt(i).ActivityId, serviceId = Model.SelectedVisitType }, new { @class = "btn btn-danger", @style = "color:white" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.SelectedVisitType > 0)
{
    using (Html.BeginForm("AddInput", "EditVisitInput", FormMethod.Post))
    {
        

        @Html.AntiForgeryToken()
        <hr />

        <h3>Dodaj novo meritev</h3>

        <div class="well">

            <div class="form-horizontal">

                @Html.HiddenFor(model => model.SelectedVisitType)

                <div class="form-group">
                    @Html.LabelFor(model => model.InputActivityList, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedInputActivity, new SelectList(Model.InputActivityList, "ActivityId", "ActivityTitle"), "-- Izberi --", htmlAttributes: new { @class = "form-control dropdown" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Dodaj vnos" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </div>

    }
}


