@model ParsekPublicHealthNurseInformationSystem.ViewModels.EditVisitInputViewModel

@{
    ViewBag.Title = "Urejanje vnosa obiska";
}

<h2>Urejanje vnosnih polj obiskov</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <hr/>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" id="DistrictDropdown">
            @Html.LabelFor(model => model.VisitTypesList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedVisitType, new SelectList(Model.VisitTypesList, "ServiceId", "ServiceTitle"), "-- Izberi --", htmlAttributes: new { @class = "form-control dropdown" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>

        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Naziv vnosa</th>
                        <th>Kateri pacienti</th>
                        <th>Število vnosov</th>
                        <th>Možnosti</th>
                    </tr>
                </thead>
            <tbody>

            @for (int i = 0; i < Model.ActivityInputList.Count; i++)
            {
             
                <tr>
                    <td>@Model.ActivityInputList.ElementAt(i).ActivityTitle</td>
                    @if (Model.ActivityInputList.ElementAt(i).ActivityInputFor == ParsekPublicHealthNurseInformationSystem.Models.Activity.InputForType.All)
                    {
                        <td>Vsi na delovnem nalogu</td>
                    }
                    else if (Model.ActivityInputList.ElementAt(i).ActivityInputFor == ParsekPublicHealthNurseInformationSystem.Models.Activity.InputForType.ParentOnly)
                    {
                        <td>Samo starš na delovnem nalogu</td>
                    }
                    else
                    {
                        <td>Samo otroci na delovnem nalogu</td>
                    }
                    <td>@Model.ActivityInputList.ElementAt(i).ActivityInputs.Count</td>
                    <td>@Html.ActionLink("Izbriši", "DeleteInput", "EditVisitInput", new { visitInputId = Model.ActivityInputList.ElementAt(i).ActivityId, serviceId = Model.SelectedVisitType }, new { @class = "btn btn-danger", @style = "color:white" })</td>
                </tr>
            }
            </tbody>
        </table>

        
    </div>
}

@if (Model.SelectedVisitType > 0)
{
    using (Html.BeginForm("AddInput", "EditVisitInput", FormMethod.Post))
    {
        

        @Html.AntiForgeryToken()
        <hr />

        <h3>Dodaj nov vnos</h3>

        <div class="well">

            <div class="form-horizontal">

                @Html.HiddenFor(model => model.SelectedVisitType);

                <div class="form-group">
                    @Html.LabelFor(model => model.InputActivityList, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedInputActivity, new SelectList(Model.InputActivityList, "ActivityId", "ActivityTitle"), "-- Izberi --", htmlAttributes: new { @class = "form-control dropdown" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Dodaj vnos" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </div>

    }
}


