@using System.Web.UI.WebControls
@using ParsekPublicHealthNurseInformationSystem.Models
@model ParsekPublicHealthNurseInformationSystem.ViewModels.VisualizationViewModel

@{
    ViewBag.Title = "Krvni tlak";
}


@if ((Session["user"] as User)?.Patient != null)
{
    <hr/>
    <div class="form-group">
        @foreach (var patient in Model.Patients)
        {
            @Html.ActionLink(patient.FullName, "Show", "Visualization", new { id = patient.PatientId }, new { @class = "btn btn-primary", @style = "color:white" })
        }
    </div>
}
else
{
    <hr />
    using (Html.BeginForm("Index", "Visualization", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Patients, "PatientId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PatientId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }
}


