@using Microsoft.Ajax.Utilities
@using ParsekPublicHealthNurseInformationSystem.ViewModels
@model ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderViewModel

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<h2>Nov delovni nalog</h2>

@using (Html.BeginForm("SubmitWorkOrder","WorkOrder"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatientId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateTimeOfFirstVisit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateTimeOfFirstVisit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateTimeOfFirstVisit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MandatoryFirstVisit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.MandatoryFirstVisit)
                @Html.ValidationMessageFor(model => model.MandatoryFirstVisit, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfVisits, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfVisits, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfVisits, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            @Html.EnumDropDownListFor(
                x => x.TimeType,
                "-- Izberi --",
                new { @class = "form-control" })
        </div>

        <div class="col-md-10" id=@WorkOrderViewModel.VisitTimeType.TimeInterval style="display: none;">
            <div class="form-group">
                @Html.LabelFor(model => model.TimeInterval, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeInterval, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeInterval, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-10" id=@WorkOrderViewModel.VisitTimeType.TimeFrame style="display: none;">
            <div class="form-group">
                @Html.LabelFor(model => model.TimeFrame, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeFrame, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeFrame, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script>
            $('#TimeType').on('change',
                function () {
                    $(@WorkOrderViewModel.VisitTimeType.TimeInterval).hide();
                    $(@WorkOrderViewModel.VisitTimeType.TimeFrame).hide();
                    switch (this.value)
                    {
                        case "1":
                        $(@WorkOrderViewModel.VisitTimeType.TimeFrame).show();
                        break;
                        case "2":
                         $(@WorkOrderViewModel.VisitTimeType.TimeInterval).show();
                        break;
                    }
                });
        </script>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
