@model ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderSummaryViewModel

@{
    ViewBag.Title = "Summary";
}

<h2>Pregled</h2>

<div class="well">

    <div>
        Izdajatelj: @Model.Supervisor
    </div>
    <div>
        Tip obiska: @Model.ActivityTitle
    </div>
    <div>
        Zadolžena patronažna sestra: @Model.Nurse
    </div>
    <div>
        Nadomesta patronažna sestra: @Model.NurseReplacement
    </div>
    <div>
        Pacienti: 
        <ul>
            @for (int i = 0; i < Model.Patients.Count; i++)
            {
                <li>@Model.Patients[i]</li>
            }
        </ul>
    </div>
    
    <div>
        @if (Model.MultipleVisits)
        {
            if (Model.TimeType ==
                    ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderViewModel.VisitTimeType.TimeFrame)
            {
                <span>
                    @Model.NumberOfVisits obiskov v obdobju od 
                    @Model.DateTimeOfFirstVisit.ToString("dd. MM. yyyy") do
                    @Model.TimeFrame.ToString("dd. MM. yyyy")
                </span>
            }
            else
            {
                <span>
                    @Model.NumberOfVisits obiskov, vsak <span>@Model.TimeInterval</span>. dan z začetkom @Model.DateTimeOfFirstVisit.ToString("dd. MM. yyyy")
                </span>
            }
        }
        else
        {
            <span>En obisk @Model.DateTimeOfFirstVisit.ToString("dd. MM. yyyy")</span>
        }
        @if (Model.MandatoryFirstVisit)
        {
            <span>OBVEZNO</span>
        }
        else
        {
            <span>OKVIRNO</span>
        }
    </div>

    <div>
        @if (Model.EnterMedicine)
        {
            <div>
                Zdravila:
                <ul>
                    @for (int i = 0; i < Model.Medicine.Count; i++)
                {
                        <li>@Model.Medicine[i]</li>
                    }
                </ul>
            </div>
        }
        @if (Model.EnterBloodSample)
        {
            <div>
                Vzorec krvi:
                    <span>@Model.BloodVialColor</span>
                    <span>@Model.BloodVialCount</span>
            </div>
        }
    </div>

</div>

@using (Html.BeginForm("Submit", "WorkOrder", FormMethod.Post))
{
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="POTRDI" class="btn btn-default" />
        </div>
    </div>
}
@using (Html.BeginForm("Discard", "WorkOrder", FormMethod.Post))
{
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="PREKLIČI" class="btn btn-default" />
        </div>
    </div>
}

       
