@using ParsekPublicHealthNurseInformationSystem.Models
@using ParsekPublicHealthNurseInformationSystem.ViewModels
@model ParsekPublicHealthNurseInformationSystem.ViewModels.CodeTableViewModel

@{
    ViewBag.Title = "Urejanje šifrantov";
}


@using (Html.BeginForm("Index", "CodeTable", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Category, "-- Izberite--", new { @class = "form-control dropdown" })
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Izberi" class="btn btn-default" />
        </div>
    </div>
}

@{
    int forCounter = 0;
}

@if (Model?.Medicines != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Medicines, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Koda</th>
                    <th>Naziv</th>
                    <th>Cena</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicine in Model.Medicines)
                {
                    <tr>
                        <td>@medicine.Code</td>
                        <td>@medicine.Title</td>
                        <td>@medicine.Cost</td>
                        <td>
                            @if (Model.Deleted[forCounter] == false)
                            {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Medicine, id = medicine.MedicineId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Medicine, id = medicine.MedicineId }, new { @class = "btn btn-danger", @style = "color:white" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Medicine, id = medicine.MedicineId }, new { @class = "btn btn-primary", @style = "color:white" })
                            }
                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Medicine }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Contractors != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Contractors, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Številka</th>
                    <th>Naziv</th>
                    <th>Naslov</th>
                    <th>Pošta</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contractor in Model.Contractors)
                {
                    <tr>
                        <td>@contractor.Number</td>
                        <td>@contractor.Title</td>
                        <td>@contractor.Address</td>
                        <td>@contractor.PostOffice.FullName</td>
                        <td>
                            @if (Model.Deleted[forCounter] == false)
                            {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Contractor, id = contractor.ContractorId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Contractor, id = contractor.ContractorId }, new { @class = "btn btn-danger", @style = "color:white" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Contractor, id = contractor.ContractorId }, new { @class = "btn btn-primary", @style = "color:white" })
                            }

                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Contractor }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Diseases != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Diseases, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Koda</th>
                    <th>Opis</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var disease in Model.Diseases)
                {
                    <tr>
                        <td>@disease.Code</td>
                        <td>@disease.Description</td>
                        <td>
                            @if (Model.Deleted[forCounter] == false)
                            {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Disease, id = disease.DiseaseId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Disease, id = disease.DiseaseId }, new { @class = "btn btn-danger", @style = "color:white" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Disease, id = disease.DiseaseId }, new { @class = "btn btn-primary", @style = "color:white" })
                            }
                            
                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Disease }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Relationships != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Relationships, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tip</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var relationship in Model.Relationships)
                {
                    <tr>
                    <td>@relationship.Name</td>
                    <td>
                        @if (Model.Deleted[forCounter] == false)
                        { 
                            @Html.ActionLink("Uredi", "Edit", "CodeTable", new {category = CodeTableViewModel.CodeCategory.Relationship, id = relationship.RelationshipId}, new {@class = "btn btn-primary", @style = "color:white"})
                            @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Relationship, id = relationship.RelationshipId }, new { @class = "btn btn-danger", @style = "color:white" })
                        }
                        else
                        {
                            @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Relationship, id = relationship.RelationshipId }, new { @class = "btn btn-primary", @style = "color:white" })
                        }
                     </td>  
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Relationship }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Services != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Services, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Koda</th>
                    <th>Naziv</th>
                    <th>Preventivni obisk</th>
                    <th>Vnos zdravil</th>
                    <th>Vnos krvnih vzorcev</th>
                    <th>Potrebni podpacienti</th>
                    <th>Cena</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.Services)
                {
                    <tr>
                        <td>@service.ServiceCode</td>
                        <td>@service.ServiceTitle</td>
                        <td>@(service.PreventiveVisit?"Da":"Ne")</td>
                        <td>@(service.RequiresMedicine ? "Da" : "Ne")</td>
                        <td>@(service.RequiresBloodSample ? "Da" : "Ne")</td>
                        <td>@(service.RequiresPatients ? "Da" : "Ne")</td>
                        <td>@service.Cost</td>
                        <td>
                            @if (Model.Deleted[forCounter] == false)
                            {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Service, id = service.ServiceId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Service, id = service.ServiceId }, new { @class = "btn btn-danger", @style = "color:white" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Service, id = service.ServiceId }, new { @class = "btn btn-primary", @style = "color:white" })
                            }
                            
                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Service }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Activities != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Activities, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Koda</th>
                    <th>Naziv</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.Activities)
                {
                    <tr>
                        <td>@activity.ActivityCode</td>
                        <td>@activity.ActivityTitle</td>
                        <td>
                            @if (Model.Deleted[forCounter] == false)
                            {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Activity, id = activity.ActivityId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Activity, id = activity.ActivityId }, new { @class = "btn btn-danger", @style = "color:white" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Activity, id = activity.ActivityId }, new { @class = "btn btn-primary", @style = "color:white" })
                            }
                         </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Activity }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.ActivityInputs != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.ActivityInputs, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Tip</th>
                    <th>Možne vrednosti</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activityInput in Model.ActivityInputs)
                {
                    <tr>
                        <td>@activityInput.Title</td>
                        <td>
                            @switch (activityInput.InputType)
                            {
                                case ActivityInput.InputTypeEnum.Free:
                                    @Html.Raw("Besedilo")
                                    break;
                                case ActivityInput.InputTypeEnum.Date:
                                    @Html.Raw("Datum")
                                    break;
                                case ActivityInput.InputTypeEnum.Dropdown:
                                    @Html.Raw("Seznam")
                                    break;
                                case ActivityInput.InputTypeEnum.Number:
                                    @Html.Raw("Številka")
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                        </td>
                        <td>@activityInput.PossibleValues</td>
                        <td>
                             @if (Model.Deleted[forCounter] == false)
                             {  
                                 @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.ActivityInput, id = activityInput.ActivityInputId }, new { @class = "btn btn-primary", @style = "color:white" })
                                 @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.ActivityInput, id = activityInput.ActivityInputId }, new { @class = "btn btn-danger", @style = "color:white" })
                             }
                             else
                             {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.ActivityInput, id = activityInput.ActivityInputId }, new { @class = "btn btn-primary", @style = "color:white" })
                             }
                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.ActivityInput }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.Roles != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.Roles, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@role.Title</td>
                        <td>
                             @if (Model.Deleted[forCounter] == false)
                             {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Role, id = role.RoleId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Role, id = role.RoleId }, new { @class = "btn btn-danger", @style = "color:white" })
                             }
                             else
                             {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Role, id = role.RoleId }, new { @class = "btn btn-primary", @style = "color:white" })
                             }
                        </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.Role }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@if (Model?.JobTitles != null)
{
    using (Html.BeginForm("SelectById", "CodeTable", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Category)
        <div class="form-group">
            @Html.Raw(Globals.GenerateDropDown(Model.JobTitles, "SelectedId", false))
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectedId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectedId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izberi" class="btn btn-default" />
            </div>
        </div>
    }

    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jobTitle in Model.JobTitles)
                {
                    <tr>
                        <td>@jobTitle.Title</td>
                        <td>
                             @if (Model.Deleted[forCounter] == false)
                             {
                                @Html.ActionLink("Uredi", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.JobTitle, id = jobTitle.JobTitleId }, new { @class = "btn btn-primary", @style = "color:white" })
                                @Html.ActionLink("Izbriši", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.JobTitle, id = jobTitle.JobTitleId }, new { @class = "btn btn-danger", @style = "color:white" })
                             }
                             else
                             {
                                @Html.ActionLink("Aktiviraj", "Delete", "CodeTable", new { category = CodeTableViewModel.CodeCategory.JobTitle, id = jobTitle.JobTitleId }, new { @class = "btn btn-primary", @style = "color:white" })
                             }
                         </td>
                    </tr>
                    forCounter++;
                }
            </tbody>
        </table>
        @Html.ActionLink("Novo", "Edit", "CodeTable", new { category = CodeTableViewModel.CodeCategory.JobTitle }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
