@model ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderDetailsViewModel

@{
    ViewBag.Title = "Podrobnosti DN";
}

<h2>Podrobnosti delovnega naloga</h2>

<div>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor)
        </dd>

        <br/>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityTitle)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Nurse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nurse)
        </dd>

        <br />

        @if (Model.NurseReplacement != "/")
        {
            <dt>
                @Html.DisplayNameFor(model => model.NurseReplacement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NurseReplacement)
            </dd>

            <br />
        }

        <dt>
            @Html.DisplayNameFor(model => model.ContractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorName)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Patients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patients)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.PreventiveActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreventiveActivity)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

        <br />

        @if (Model.EnterBloodSample)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BloodVialBlueCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodVialBlueCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BloodVialGreenCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodVialGreenCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BloodVialRedCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodVialRedCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BloodVialYellowCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodVialYellowCount)
            </dd>

        }


        @if (Model.EnterMedicine)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Medicine)
            </dt>

            for (int i = 0; i < Model.Medicine.Count; i++)
            {
                <dd>
                    @Model.Medicine.ElementAt(i)
                </dd>
            }
        }

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Visits)
        </dt>

        @for (int i = 0; i < Model.Visits.Count; i++)
        {
            <dd>
                @Model.Visits.ElementAt(i) @Html.ActionLink("Podrobnosti", "Details", "VisitDetails", new { visitId = Model.VisitIds.ElementAt(i) })
            </dd>
        }

        

    </dl>
</div>

