@model ParsekPublicHealthNurseInformationSystem.ViewModels.VisitDetailsViewModel

@{
    ViewBag.Title = "Podrobnosti obiska";
}

<h2>Podrobnosti obiska</h2>
<hr />

<div>
    

    @if (Model.Visit == null)
    {
        <h3>Obisk ne obstaja</h3>
    }
    else
    {

        <h3>Splošno</h3>

        <hr/>

        <dl class="dl-horizontal">

            <dt>Storitev</dt>
            <dd>@Model.Visit.WorkOrder.Service.ServiceTitle [@Model.Visit.WorkOrder.Service.ServiceCode]</dd>

            <dt>Predviden datum</dt>
            <dd>@Model.Visit.Date.ToString("dd. MM. yyyy")</dd>

            <dt>Dejanski datum</dt>
            <dd>@Model.Visit.DateConfirmed.ToString("dd. MM. yyyy")</dd>

            <dt>Pacient</dt>
            @if (Model.Visit.WorkOrder.Patient != null)
            {
                <dd>@Model.Visit.WorkOrder.Patient.FullNameWithCode</dd>
            }
            else
            {
                <dd>@Model.Visit.WorkOrder.PatientWorkOrders.First().Patient.FullNameWithCode</dd>
            }

            <dt>Zadolžena sestra</dt>
            @if (Model.Visit.WorkOrder.NurseReplacement != null)
            {
                <dd>@Model.Visit.WorkOrder.Nurse.FullName - nadomešča @Model.Visit.WorkOrder.NurseReplacement.FullName</dd>
            }
            else
            {
                <dd>@Model.Visit.WorkOrder.Nurse.FullName</dd>
            }

            <dt>Opravljen</dt>
            @if (Model.Visit.DateConfirmed < DateTime.Now)
            {
                <dd>Da</dd>
            }
            else
            {
                <dd>Ne</dd>
            }

        </dl>

        <h3>Meritve</h3>

        <hr/>




        int index = 0;
        int counter = 0;


        for (int i = 0; i < Model.Categories.Count; i++)
        {
            <h4>@Model.Categories.ElementAt(i)</h4>

            <dl class="dl-horizontal">

                @{ 
                    counter = Model.CategoryItemCount.ElementAt(i);
                }

                @for (int j = 0; j < counter; j++)
                {
                    <dt>
                        @Model.ParsedDetailsTitles.ElementAt(index)
                    </dt>
                    <dd>
                        @Model.ParsedDetails.ElementAt(index)
                    </dd>

                    index++;
                }


            </dl>
        }

       
    }

    
</div>
