@model ParsekPublicHealthNurseInformationSystem.ViewModels.VisitDetailsViewModel

@{
    ViewBag.Title = "Podrobnosti obiska";
}

<h2>Podrobnosti obiska</h2>
<hr />

<div>
    

    @if (Model.Visit == null)
    {
        <h3>Obisk ne obstaja</h3>
    }
    else
    {

        <h3>Splošno</h3>

        <hr/>

        <dl class="dl-horizontal">

            <dt>Storitev</dt>
            <dd>@Model.Visit.WorkOrder.Service.ServiceTitle [@Model.Visit.WorkOrder.Service.ServiceCode]</dd>

            <dt>Predviden datum</dt>
            <dd>@Model.Visit.Date.ToString("dd. MM. yyyy")</dd>

            <dt>Dejanski datum</dt>
            <dd>@Model.Visit.DateConfirmed.ToString("dd. MM. yyyy")</dd>

            
            @if (Model.Visit.WorkOrder.PatientWorkOrders.Count <= 0)
            {
                <dt>Pacient</dt>
                <dd>@Model.Visit.WorkOrder.Patient.FullNameWithCode</dd>
            }
            else
            {
                <dt>Pacienti</dt>
                <dd>@Model.Visit.WorkOrder.Patient.FullNameWithCode</dd>
                for (int j = 0; j < @Model.Visit.WorkOrder.PatientWorkOrders.Count; j++)
                {

                    ParsekPublicHealthNurseInformationSystem.Models.PatientWorkOrder PWO =
                        @Model.Visit.WorkOrder.PatientWorkOrders.ElementAt(j);

                    <dd>@PWO.Patient.FullNameWithCode</dd>
                }
            }

            <dt>Zadolžena sestra</dt>
            @if (Model.Visit.NurseReplacement != null)
            {
                <dd>@Model.Visit.WorkOrder.Nurse.FullName - nadomešča @Model.Visit.NurseReplacement.FullName</dd>
            }
            else
            {
                <dd>@Model.Visit.WorkOrder.Nurse.FullName</dd>
            }

            <dt>Opravljen</dt>
            @if (Model.Visit.DateConfirmed < DateTime.Now)
            {
                <dd>Da</dd>
            }
            else
            {
                <dd>Ne</dd>
            }

        </dl>

        <h3>
            Meritve
            @Html.ActionLink("Podrobnosti", "Index", "Visit", new { id = Model.Visit.VisitId }, new { @class = "btn btn-primary", @style = "color:white" })
        </h3>
        <hr/>



        <div class="btn-group">
            <button onclick="return false;" class="btn btn-info form-control " data-toggle="collapse" data-target="#Patient">@Model.PatientData.PatientName</button>
        </div>

        <br/>

        <div id="Patient" class="collapse well">
            @FillData(Model.PatientData)
        </div>

        for (int i = 0; i < Model.ChildPatientData.Count; i++)
        {
            <br/>

            <div class="btn-group">
                <button onclick="return false;" class="btn btn-info form-control " data-toggle="collapse" data-target="#Patient_@i">@Model.ChildPatientData.ElementAt(i).PatientName</button>
            </div>

            <br />

            <div id="Patient_@i" class="collapse well">
                @FillData(Model.ChildPatientData.ElementAt(i))
            </div>
        }


    }

    
</div>

@helper FillData(ParsekPublicHealthNurseInformationSystem.ViewModels.VisitDetailsViewModel.ParsedData data)
{
    int index = 0;


    for (int i = 0; i < data.Categories.Count; i++)
    {
        <h4>@data.Categories.ElementAt(i)</h4>

            <dl class="dl-horizontal">

                @{
                    var counter = data.CategoryItemCount.ElementAt(i);
                }

                @for (int j = 0; j < counter; j++)
                {
                    <dt>
                        @data.ParsedDetailsTitles.ElementAt(index)
                    </dt>
                    <dd>
                        @data.ParsedDetails.ElementAt(index)
                    </dd>

                    index++;
                }


            </dl>
            <hr />
    }
}
