@using ParsekPublicHealthNurseInformationSystem.Models
@using ParsekPublicHealthNurseInformationSystem.ViewModels
@model ParsekPublicHealthNurseInformationSystem.ViewModels.VisitViewModel

@{
    ViewBag.Title = "Obisk";
}

<h2>Urejanje obiska</h2>



@if (Model.MainPatient != null)
{
    @Html.ActionLink(Model.MainPatient.FullNameWithCode, "EnterData", "Visit", 
        new { visitId = Model.VisitId, generalOnly = false, patientId = Model.MainPatient.PatientId }, 
        new { @class = "btn btn-primary", @style = "color:white" })
}

@foreach (var childPatient in Model.ChildPatients ?? new List<Patient>())
{
    @Html.ActionLink(childPatient.FullNameWithCode, "EnterData", "Visit",
        new { visitId = Model.VisitId, generalOnly = false, patientId = childPatient.PatientId },
        new { @class = "btn btn-primary", @style = "color:white" })
}

<hr/>

@if (Model.ActivityInputs != null && Model.ActivityInputs.Count > 0)
{
    using (Html.BeginForm("SaveData", "Visit"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.VisitId)
        @Html.HiddenFor(m => m.PatientId)

        int count = 0;

        for (int i = 0; i < Model.ActivityInputs.Count; i++)
        {
            <div>
                @Model.ActivityInputs[i].ActivityTitle

                @for (int j = 0; j < Model.ActivityInputs[i].ActivityInputDatas.Count; j++)
                {
                    <div class="form-group">
                        @Model.ActivityInputs[i].ActivityInputDatas[j].ActivityInputTitle

                        @Html.HiddenFor(x => x.ActivityInputIds[count])
                    
                        @if (Model.ActivityInputs[i].ActivityInputDatas[j].ReadOnly)
                        {
                            @Html.TextBoxFor(x => x.ActivityInputValues[count], new { @readonly = "true" })
                            <p style="color:mediumpurple;">Vrednost prenešena iz prvega obiska</p>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.ActivityInputValues[count])
                        }

                    </div>

                    //@Html.TextBoxFor(x => x.ActivityInputIds[count])
                    //<input type="text" id="ActivityInputValues_@count" value="text" />
                    //<input type="hidden" id="ActivityInputIds_@count" value="@Model.ActivityInputs[i].ActivityInputDatas[j].ActivityInputId" />



                    // ActivityInputId[count] = [i][j]
                    // input [count]

                    count++;
                }

            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Shrani" class="btn btn-default" />
            </div>
        </div>

    }
}